@charset "utf-8";
/* CSS Document */

.search ~ .actions {
	display: none;
}
.pagination .page-item .page-link {
    color: #c5c7de;
}
.bootgrid-table th>.column-header-anchor {
    color: #9e6de0;    
}

.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_info { color: #8487b9 !important; }
.table-responsive table.dataTable thead th, .table-responsive table.dataTable tfoot th { color: #c5c7de !important; white-space: nowrap }
.table-responsive table thead th, .table-responsive table tfoot th { white-space: nowrap!important }


.profile-user-img {margin: 0 auto; width: 100px; padding: 3px; border: 3px solid #d2d6de; }
.img-circle { border-radius: 50%; }

.dropdown-menu.action{
	min-width: 12rem;
}
.dropdown-menu.action a {
    color: #c5c7de;
}
input[type="search"]{
	border-radius: 4px;
}
input[type="search"]:focus{
	border-color: #9e6de0 !important;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-color: rgba(255,255,255, 0.2);
}

.dataTables_wrapper input[type="search"], .dataTables_wrapper input[type="text"], .dataTables_wrapper select{
	background-color: #1B1F38;
	border-color: #1B1F38;
}
.event-image {
	box-shadow: 2px 2px 9px -1px #555;
    border-radius: 5px;
    width: 33%;
	height: auto; 
	margin-bottom: 20px;	
}

@media screen and (max-width: 1023px){
	.event-image {
    	width: 50%;
		height: 80px;
	}
}